body {
    margin: auto;
    font: 12px Tahoma;
    background: white;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #185798;
}

ul {
    list-style-type: none;
}

table, tr, td, h1, h2, h3, h4, h5, h6, p, pre, ul, li, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
}

:focus {
    outline: none;
}

/* Header */
#header {
    background: #e0ffdc;
    width: 100%;
    height: 150px;
}

.header {
    width: 960px;
    height: 150px;
    margin: 0 auto;
}

.header img {
    width: 150px;
    height: 150px;
}

/* Genel */
#genel {
    width: 960px;
    margin: 0 auto;
    background: white;
}

/* Orta */
#orta {
    width: 660px;
    float: left;
    margin: 5px 50px 10px 10px;
    background-color: #dfdfdf;
}

/* Orta Başlık */
.orta-bas {
    background: white;
    width: 660px;
    height: 35px;
}

.orta-bas2 {
    color: #78b66e;
    font-size: 14pt;
    padding: 4px 10px;
}

/* Makaleler */
.makale {
    padding: 5px;
    border-bottom: 3px solid #ebebeb;
}

.makale h1 a {
    font-size: 13pt;
    padding: 2px 10px 2px 0;
    color: #4396cc;
}

.makale h1 a:hover {
    color: #82a4c2;
}

.makale p {
    padding: 3px 12px;
    color: #5e5e5e;
    text-align: justify;
}

.makale-resim {
    float: left;
    margin-right: 5px;
}

.makale-resim img {
    width: 70px;
    height: 70px;
}

.makale-alt {
    text-align: right;
    padding: 5px;
    color: #4396cc;
}

.makale-alt a {
    padding: 3px 5px;
    color: #4396cc;
}

.makale-alt a:hover {
    background-color: #4396cc;
    color: #fff;
}

/* Sıralama */
#siralama {
    padding: 10px;
    background: white;
}

#siralama span {
    background-color: #4396cc;
    padding: 5px 10px;
    color: #fff;
    margin-right: 2px;
}

#siralama a {
    padding: 5px 10px;
    margin-right: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#siralama a:hover {
    background-color: #4396cc;
    color: #fff;
}

/* Sağ */
#sag {
    width: 230px;
    float: left;
    margin-top: 5px;
}

/* Sağ Başlık */
.sag-bas {
    background: none;
    width: 230px;
    height: 35px;
}

.sag-bas2 {
    color: #78b66e;
    font-size: 14pt;
    padding: 4px 10px;
}

/* Arşiv */
#kategoriler {
    background-color: white;
    border-bottom: 3px solid #ddd;
    margin-bottom: 10px;
}

#kategoriler a {
    background: url(right.gif) no-repeat 1px;
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ddd;
    color: #333333;
}

#kategoriler li a {
    background: none;
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ddd;
    color: #333333;
}

#kategoriler a:hover {
    background: #78b66e;
}